/*
	KY Art Inventory Project 
	Author: Rebecca Hammer
*/

/*----------------------------------------------------------------------
	RESET
----------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
		display: block;
}

ol, ul {
		list-style: none;
}

blockquote, q {
		quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
		content: '';
		content: none;
}

table {
		border-collapse: collapse;
		border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}


/*----------------------------------------------------------------------
	BASIC
----------------------------------------------------------------------*/

html {
	font-size: 62.5%;
	font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	background: rgba(244,244,244,0.75);
    background: -moz-linear-gradient(top, rgba(244,244,244,0.75) 75%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(75%, rgba(244,244,244,0.75)), color-stop(100%, rgba(230,230,230,1)));
    background: -webkit-linear-gradient(top, rgba(244,244,244,0.75) 75%, rgba(230,230,230,1) 100%);
    background: -o-linear-gradient(top, rgba(244,244,244,0.75) 75%, rgba(230,230,230,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,244,244,0.75) 75%, rgba(230,230,230,1) 100%);
    background: linear-gradient(to bottom, rgba(244,244,244,0.75) 75%, rgba(230,230,230,1) 100%);
}

#page {
	margin: 0;
	padding: 0;
}

main {
	overflow-x: hidden;
	width: 100%;
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper::after {
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

h1, h2, h3, h4 {
	margin: 1rem 0;
	font-weight: 700;
	line-height: 1.1;
}

h1 {
	font-size: 2.4rem;
	margin: 0;
}

h2 {
	font-size: 2.0rem;
	color: #fff;
}

h3 {
	font-size: 2.0rem;
	margin-bottom: 0;
}

h4 {
	font-size: 1.6rem;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: inherit;

	&:focus {
		outline: 1px dotted black !important;
	}
}

p {
	font-size: 1.4rem;
	line-height: 1;
    margin-bottom: .75rem;
}

img {
	width: 100%;
}

button {
    border: 0;
    background: rgba(0,0,0,0);
    font-family: inherit;

    &:focus {
    	outline: 1px dotted black;
    }
}

.aria {
	display: block;
	overflow: hidden;
	position: absolute;
	text-indent: -9999em;
	z-index: -1;
}

input {
	border: 1px solid #bfbfbf;
	border-radius: 0;
}

.hidden {
	display: none;
}


/*----------------------------------------------------------------------
	HEADER
----------------------------------------------------------------------*/

header {
	position: relative;
	background: url('../img/header.jpg') no-repeat;
	padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-top: 10px solid #00345b;
    border-bottom: 2px solid #00345B;

    	@media screen and (min-width: 500px) {
    		padding: 0;
    		height: 500px;
    	}
}

h1 {
	img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 80%;
		left: 10%;

		@media screen and (min-width: 500px) {
			width: 400px;
			left: calc(50% - 200px);
		}
	}
}


/*----------------------------------------------------------------------
	NAVIGATION
----------------------------------------------------------------------*/

.header-nav {
	display: none;
	position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.8);
    height: 100vh;
    z-index: 9;
    padding: 60px 0;

    	@media screen and (min-width: 900px) {
    		position: fixed;
    		width: 230px;
    		height: 1000vh;
			-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
			box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
    	}

    button {
		width: 100%;
		padding: 10px 15px 7px;
		text-align: left;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.6rem;
		margin: 2px 0;
		line-height: 1;
		cursor: pointer;
    }
}

.close-nav {
	display: block;
}

.header-button {
	padding: 0;
	margin: 0;
	height: 28px;
	position: absolute;
	top: 15px;
    left: 15px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 10;

		    @media screen and (min-width: 900px) {

		    	&.close-nav {
					position: fixed;
				}
			}

	span,
	span:before,
	span:after {
		width: 28px;
		height: 5px;
		background: #fff;
		display: block;
		position: relative;
		content: '';
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}

	span:before {
		top: -10px;
	}

	span:after {
		bottom: -5px;
	}

	&.close-nav span {
		background: transparent;
		position: relative;

		&:before {
			top: 0;
		    -webkit-transform: rotate(45deg);
		    -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		    background: #00345B;
		}

		&:after {
		    top: -5px;
		    -webkit-transform: rotate(135deg);
		    -moz-transform: rotate(135deg);
		    -ms-transform: rotate(135deg);
		    transform: rotate(135deg);
		    background: #00345B;
		}
	}
}


/*----------------------------------------------------------------------
	SEARCH
----------------------------------------------------------------------*/

.search-button {
	position: absolute;
    top: 15px;
    right: 15px;
    height: 28px;
    width: 28px;
    padding: 0;
    margin: 0;

	span {
		background: url('../img/search.svg') no-repeat;
		padding: 0;
		margin: 0;
		height: 28px;
		width: 28px;
	    -webkit-transition: all 300ms ease-in-out;
	    -moz-transition: all 300ms ease-in-out;
	    -ms-transition: all 300ms ease-in-out;
	    transition: all 300ms ease-in-out;
	    z-index: 10;
	    display: block;
	}
	
		    @media screen and (min-width: 900px) {

		    	&.close-search {
					position: fixed;
					z-index: 10;
				}
			}

	&.close-search span {
		width: 28px;
		height: 5px;
		background: #00345B;
		display: block;
		position: relative;
		content: '';
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
		background: transparent;
		position: relative;

		&:before {
			width: 28px;
			height: 5px;
			display: block;
			position: relative;
			content: "";
			top: 0;
		    -webkit-transform: rotate(45deg);
		    -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		    background: #00345B;
		}

		&:after {
			width: 28px;
			height: 5px;
			display: block;
			position: relative;
			content: "";
		    top: -5px;
		    -webkit-transform: rotate(135deg);
		    -moz-transform: rotate(135deg);
		    -ms-transform: rotate(135deg);
		    transform: rotate(135deg);
		    background: #00345B;
		}
	}
}

.search-container {
	display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    height: 100vh;
    padding: 60px 0;

    	@media screen and (min-width: 900px) {
    		position: fixed;
    		right: 0;
    		width: 230px;
    		height: 1000vh;
			-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
			box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
    	}

    form {
    	padding: 10px;
    }

    label {
	    text-transform: uppercase;
	    font-size: 1.6rem;
	    font-weight: bold;
	}

    input[type="button"] {
	    border: 0;
	    background: #00345B;
	    text-indent: -99999rem;
	    background-image: url(../img/search.svg);
	    background-repeat: no-repeat;
	    display: inline-block;
	    width: 35px;
	    height: 35px;
	    background-position: 3px;
	}

	input[type="text"] {
		display: inline-block;
		height: 36px;
	    margin-right: 5px;
	    vertical-align: top;
	    width: calc(100% - 43px);
	}
}


/*----------------------------------------------------------------------
	ART CATEGORIES
----------------------------------------------------------------------*/

.ancient {
	background-color: #5bc0eb;  //cyan
}

.african {
	background-color: #FF6214; //orange
}

.native-american {
	background-color: #E0479E;  //coral
}

.euro1 {
	background-color: #95C623;  //lime
}

.euro2 {
	background-color: #571760;  //dark purple
	color: #fff;
}

.euro3 {
	background-color: #FFD43A;  //yellow
}

.euro4 {
	background-color: #0A2472;  // dark blue
	color: #fff;
}

.euro5 {
	background-color: #C1292E;  //red
	color: #fff;
}

.dutch {
	background-color: #BAE6FF;  //light blue
}

.contemporary {
	background-color: #B36CC9;  //lavender
}

.kentucky {
	background-color: #8B1E3F; //maroon
	color: #fff;
}

.photography {
	background-color: #6A6262;
	color: #fff;  
}


/*----------------------------------------------------------------------
	FORM
----------------------------------------------------------------------*/

#form-container {
    background: rgba(234,245,252,1);
    margin-bottom: 5rem;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);

	form {
	    line-height: 1;
	    font-size: 1.6rem;
	    padding: 20px 10px;

	    		@media screen and (min-width: 450px) {
	    			padding-bottom: 35px;
	    		}

	    		@media screen and (min-width: 1000px) {
	    			padding: 20px 20px 35px;
	    		}


	    label {
		    display: block;
		    text-transform: uppercase;
		    font-weight: 700;
		    margin: 15px 0 3px;
		    border: 0;
		}

		button {
		    font-size: 1.6rem;
		    font-weight: 900;
		    text-transform: uppercase;
		    padding: 4.5px;
		    display: block;
		    width: 100%;
		    height: 35px;
		    margin-top: 2rem;
		    color: #fff;
		    background: url(../img/header.jpg) no-repeat;
		    background-size: cover;
		    background-position: center -98px;
		    text-shadow: 0px 0px 20px rgba(0, 0, 0, .5);

				    @media screen and (min-width: 500px) and (max-width: 999px) {
				    	background-position: center -168px;
				    }

				    @media screen and (min-width: 1000px) {
				    	display: inline-block;
						width: 13.6%;
				    }

				    @media screen and (min-width: 1400px) {
						width: 14.3%;
				   		background-size: 200%;
					}
		}

		input, 
		select {
		    width: 100%;
		    padding: 0 10px;
		    height: 35px;
		}

		.form-group {

			&:first-of-type {
				label {
				    margin-top: 0;
				}
			}

					@media screen and (min-width: 450px) {
						display: inline-block;
			    		width: 49%;

			    		&:nth-of-type(odd) {
						    margin-right: 1%;
						}
					}

					@media screen and (min-width: 600px) {
						width: 31.9%;

						&:nth-of-type(1),
						&:nth-of-type(2),
						&:nth-of-type(4),
						&:nth-of-type(5) {
							margin-right: 1%;
						}
					}

					@media screen and (min-width: 800px) {
						width: 15.4%;

						&:not(:last-of-type) {
							margin-right: 1%;
						}
					}

					@media screen and (min-width: 1000px) {
						width: 13%;
						margin-right: 1%;
					}
		}

	}

	.greeting {
	    padding: 20px 10px 0;
	    font-size: 1.8rem;
	    text-align: center;
	    line-height: 30px;
	    max-width: 1000px;
	    margin: 0 auto 1rem;

	    @media screen and (min-width: 800px) {
			padding: 40px 20px 15px;
			font-size: 2.2rem;
			line-height: 37px;
	    }
	}
}


/*----------------------------------------------------------------------
	ENTRIES
----------------------------------------------------------------------*/

#list-container {
	max-width: 1000px;
	margin: 0 auto;
}

.list-group-item {
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
    margin: 10px 10px 20px;
    position: relative;
    background: #fff;

    	@media screen and (min-width: 550px) {
			width: calc(50% - 22px);
			display: inline-block;
			vertical-align: top;
    	}

    	@media screen and (min-width: 700px) {
    		width: calc(33% - 22px);
    	}

    	@media screen and (min-width: 900px) {
    		width: calc(25% - 22px);
    	}

    &:focus,
    &:hover {
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(234,245,252,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(100%, rgba(234,245,252,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(234,245,252,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(234,245,252,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(234,245,252,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(234,245,252,1) 100%);
    }

    &:before {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 74px;
	    height: 74px;
	}

	a {
		display: block;
		padding: 10px;
	}

	&[location="Speed Art Museum"]:before {
	    background: url('../img/speed-logo.png') no-repeat;
	}

	&[location="KMAC"]:before {
	    background: url('../img/kmac-logo.png') no-repeat;
	}

	&[location="21c Louisville"]:before {
	    background: url('../img/21clou-logo.png') no-repeat;
	}

	&[location="21c Lexington"]:before {
	    background: url('../img/21clex-logo.png') no-repeat;
	}

	&[category="Art of Ancient Cultures"] {
		border-bottom: 8px solid #5bc0eb;
	}

	&[category="African Art"] {
		border-bottom: 8px solid #FF6214;
	}

	&[category="Native American Art"] {
		border-bottom: 8px solid #E0479E;
	}

	&[category="European Art, 1300-1700"] {
		border-bottom: 8px solid #95C623;
	}

	&[category="European Art, 1700-1800"] {
		border-bottom: 8px solid #571760;
	}

	&[category="European and American Art, 1800-1900"] {
		border-bottom: 8px solid #FFD43A;
	}

	&[category="European and American Art, 1900-1945"] {
		border-bottom: 8px solid #0A2472;
	}

	&[category="European and American Art, 1945-1980"] {
		border-bottom: 8px solid #C1292E;
	}

	&[category="Dutch & Flemish Art"] {
		border-bottom: 8px solid #BAE6FF;
	}

	&[category="Contemporary Art, 1980-Present"] {
		border-bottom: 8px solid #B36CC9;
	}

	&[category="Art of Kentucky, 1800-1945"] {
		border-bottom: 8px solid #8B1E3F;
	}

	&[category="Photography"] {
		border-bottom: 8px solid #6A6262;
	}
}


/*----------------------------------------------------------------------
	DETAILS PAGES
----------------------------------------------------------------------*/

.background {
    position: absolute;
    top: 0;
    padding: 20px;
    background: rgba(0,0,0,.65);
    width: 100%;
    height: 100%;
}

#details {
	background: #fff;
    padding: 10px;
    height: 100%;
    overflow: scroll;

	img {
		height: 100%;
		width: auto;
		
		@media screen and (min-width: 800px) {
			max-width: calc(70% - 23px);
			display: inline-block;
			vertical-align: top;
			margin-right: 20px;
		}
	}

	div {
		margin-top: 10px;
		position: relative;
		
		@media screen and (min-width: 800px) {
			width: 30%;
			display: inline-block;
			vertical-align: top;
		}
	}

	div.hidden {
		display: none;
	}

	div#edit-form-container {
	    position: absolute;
	    width: 100%;
	    top: 0;
	    height: 100%;
	    background: #fff;
	    margin-top: 0;
	}

	.close-button,
	.submit-button,
	.edit-button,
	.cancel-button,
	.delete-button,
	#imageUpload {
		font-size: 1.6rem;
	    font-weight: 900;
	    text-transform: uppercase;
	    padding: 4.5px 10px;
	    display: inline-block;
	    height: 35px;
	    margin: 0 1rem 2rem 0;
	    color: #fff;
	    background: #00345B;

	    &:focus {
	    	outline: 0;
	    }
	}

	.close-button,
	.cancel-button {
		background: #888; 
	}

	#imageUpload {
		margin-top: 0;
	}

	#button_container {
		width: initial;
	}
}


#edit-form-container {

	label {
    	display: block;
    	text-transform: uppercase;
    	font-weight: 900;
    	font-size: 1.4rem;
    	line-height: 1;
	}

	.form-group {
	    display: block;
	    width: 100%;

	    &:first-of-type {
		    margin-top: 0;
		}
	}

	input,
	select {
		width: 100%;
		height: 20px;
		padding: 0 5px;
	}

	.submit-button,
	.cancel-button,
	.delete-button {
		margin: 2rem 1rem 0 0;
	}

	.delete-button {
		background: #8B1E3F;
		margin-bottom: 20px;
	}
}













